<nav class="navbar bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#appNav" aria-controls="appNav" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="appNav" aria-labelledby="appNavLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="appNavLabel">Save Button</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to app_everything_path, class: "nav-link d-flex align-items-center gap-2 #{'active' if current_page?(app_everything_path)}" do %>
              <i class="bi bi-grid-3x3-gap"></i> Everything
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to get_the_apps_path, class: "nav-link d-flex align-items-center gap-2 #{'active' if current_page?(get_the_apps_path)}" do %>
              <i class="bi bi-download"></i> Get The Apps
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to account_path, class: "nav-link d-flex align-items-center gap-2 #{'active' if current_page?(account_path)}" do %>
              <% if Current.user.avatar.attached? %>
                <%= image_tag Current.user.avatar, class: "profile-avatar profile-avatar-sm" %>
              <% else %>
                <i class="bi bi-person-circle"></i>
              <% end %>
              Account
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <% unless content_for?(:hide_add_button) %>
      <button class="btn btn-primary ms-auto" data-action="click->add-modal#open" aria-label="Add note or bookmark">
        <i class="bi bi-plus-lg"></i>
      </button>
    <% end %>
  </div>
</nav>
