<% if flash[:notice] %>
  <div class="toast toast-top toast-center z-50" data-controller="flash">
    <div class="alert alert-success">
      <span><%= flash[:notice] %></span>
      <button type="button" class="btn btn-ghost btn-xs" data-action="click->flash#dismiss" aria-label="Dismiss">&times;</button>
    </div>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="toast toast-top toast-center z-50" data-controller="flash">
    <div class="alert alert-error">
      <span><%= flash[:alert] %></span>
      <button type="button" class="btn btn-ghost btn-xs" data-action="click->flash#dismiss" aria-label="Dismiss">&times;</button>
    </div>
  </div>
<% end %>
