<% if flash[:notice] %>
  <div class="flash-container">
    <div class="alert alert-success flash-message" data-controller="flash" data-flash-target="message">
      <%= flash[:notice] %>
      <button type="button" class="flash-close" data-action="click->flash#dismiss" aria-label="Dismiss">&times;</button>
    </div>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="flash-container">
    <div class="alert alert-error flash-message" data-controller="flash" data-flash-target="message">
      <%= flash[:alert] %>
      <button type="button" class="flash-close" data-action="click->flash#dismiss" aria-label="Dismiss">&times;</button>
    </div>
  </div>
<% end %>
