<% if authenticated? %>
  <% content_for :app_layout, true %>
  <% content_for :hide_add_button, true %>
<% else %>
  <% content_for(:title) { "Save Button - Save Notes & Bookmarks" } %>
<% end %>

<div class="everything-container">
  <section class="apps-section">
    <div class="apps-container">
      <h2 class="section-title">Get The Apps</h2>

      <div class="apps-content">
        <%= render "shared/apps_content" %>
      </div>
    </div>
  </section>
</div>
