<% if authenticated? %>
  <% content_for :app_layout, true %>
  <% content_for :hide_add_button, true %>
<% else %>
  <% content_for(:title) { "Save Button - Save Notes & Bookmarks" } %>
<% end %>

<div class="max-w-5xl mx-auto px-4 py-8">
  <h2 class="text-3xl font-bold mb-8">Get The Apps</h2>
  <%= render "shared/apps_content" %>
</div>
