<% if authenticated? %>
  <% content_for :app_layout, true %>
  <% content_for :hide_add_button, true %>
<% else %>
  <% content_for(:title) { "Save Button - Save Notes & Bookmarks" } %>
<% end %>

<div class="py-4">
  <h2 class="fw-bold mb-4">Get The Apps</h2>
  <%= render "shared/apps_content" %>
</div>
