# base secret
secret_key_base:

# microsoft oauth2
microsoft:
  client_id:
  client_secret:

# google oauth2
google:
  client_id:
  client_secret:

# smtp
resend_api_key:

# stripe
stripe:
  publishable_key:
  secret_key:
  webhook_signing_secret:
  basic_price_id:
  advanced_price_id:
